# Core ML packages (versions matched to SageMaker-compatible builds)
xgboost==1.7.6
pandas==1.5.3
numpy==1.24.1
scikit-learn==1.2.1
joblib==1.3.2

# Logging & utilities
mlflow
boto3
pyyaml
cloudpickle

# Optional but useful
matplotlib
