# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# DVC
*.dvc
.cache/
.dvc/
artifacts/

# SageMaker
output/
*.tar.gz

# Virtual environment
.venv/
env/
ENV/
venv/
.env
*.terraform/
**/.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json
*.tfplan
*.backup
*.exe
*.terraform.tfstate.lock.info
terraform-provider-aws_v6.16.0_x5.exe

# OS
.DS_Store
Thumbs.db

# AWS credentials (never commit these!)
*.pem
*.key
.aws/